<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Menu.xml" source-language="en-US" target-language="fr-FR">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac54d4b8eda1b128606db24c15ccf8bef79c660ce78.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">4d4b8eda1b128606db24c15ccf8bef79c660ce78</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Controls.Menu">
          <source>Represents a Windows menu control that enables you to hierarchically organize elements associated with commands and event handlers.</source>
          <target state="translated">Représente un contrôle de menu Windows qui vous permet d’organiser de façon hiérarchique des éléments associés à des commandes et à des gestionnaires d’événements.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control presents a list of items that specify commands or options for an application.</source>
          <target state="translated">Le <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> contrôle présente une liste d’éléments qui spécifient des commandes ou des options pour une application.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Typically, clicking an item on a menu opens a submenu or causes an application to carry out a command.</source>
          <target state="translated">En règle générale, en cliquant sur un élément dans un menu ouvre un sous-menu ou entraîne l’application à exécuter une commande.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> is an <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, which means it can contain a collection of objects of any type (such as string, image, or panel).</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> est un <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, ce qui signifie qu’il peut contenir une collection d’objets de tout type (par exemple, chaîne, image ou panneau).</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see the <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph> class.</source>
          <target state="translated">Pour plus d'informations, consultez la classe <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> is the most common type of item in a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</source>
          <target state="translated">Le <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> est le type le plus courant de l’élément dans un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>A <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> can contain child items.</source>
          <target state="translated">Un <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> peut contenir des éléments enfants.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The child items will appear in a submenu when the user chooses a parent <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</source>
          <target state="translated">Les éléments enfants apparaîtront dans un sous-menu lorsque l’utilisateur choisit un parent <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Customizing the Menu Control</source>
          <target state="translated">Personnalisation du contrôle de Menu</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To apply the same property settings to multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls, use the <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> property.</source>
          <target state="translated">Pour appliquer les mêmes paramètres de propriété à plusieurs <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> contrôles, utilisez le <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> propriété.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can modify the default <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> to give the control a unique appearance.</source>
          <target state="translated">Vous pouvez modifier la valeur par défaut <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> pour donner une apparence unique au contrôle.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information about creating a <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, see <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">Pour plus d’informations sur la création d’un <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, consultez <bpt id="p1">[</bpt>personnalisation de l’apparence d’un contrôle existant en créant un ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To see the parts and states that are specific to the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, see <bpt id="p1">[</bpt>Menu Styles and Templates<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</source>
          <target state="translated">Pour afficher les parties et les États qui sont spécifiques à la <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, consultez <bpt id="p1">[</bpt>Menu Styles et modèles<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Dependency properties for this control might be set by the control’s default style.</source>
          <target state="translated">Propriétés de dépendance pour ce contrôle peuvent être définies par le style par défaut.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>If a property is set by a default style, the property might change from its default value when the control appears in the application.</source>
          <target state="translated">Si une propriété est définie par un style par défaut, la propriété peut changer sa valeur par défaut lorsque le contrôle s’affiche dans l’application.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The default style is determined by which desktop theme is used when the application is running.</source>
          <target state="translated">Le style par défaut est déterminé par le thème de bureau est utilisé lors de l’application est en cours d’exécution.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see <bpt id="p1">[</bpt>Default WPF Themes<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</source>
          <target state="translated">Pour plus d’informations, consultez <bpt id="p1">[</bpt>par défaut des thèmes WPF<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Setting a visual property will only have an effect if that property is both present in <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control's default template and is set by using a .</source>
          <target state="translated">Définition d’une propriété visuelle uniquement aura un effet si ces propriétés sont toutes deux présentes dans <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> contrôle du modèle par défaut et est définie à l’aide d’un.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can find a list of visual properties in the "Changing the Visual Structure of a Control" section in <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">Vous trouverez une liste de propriétés visual dans la section « Modification le Visual Structure d’un contrôle » <bpt id="p1">[</bpt>personnalisation de l’apparence d’un contrôle existant en créant un ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> class.</source>
          <target state="translated">Initialise une nouvelle instance de la classe <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> qui contient les données d'événement.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>Called when any mouse button is pressed or released.</source>
          <target state="translated">Appelée lorsqu'un bouton de la souris est appuyé ou relâché.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Gets or sets a value that indicates whether this <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> receives a main menu activation notification.</source>
          <target state="translated">Obtient ou définit une valeur qui indique si ce <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> reçoit notification de l'activation du menu principal.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the menu receives a main menu activation notification; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> si le menu reçoit notification de l'activation du menu principal ; sinon, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The default is <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">La valeur par défaut est <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>If there are multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls on a page, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls that should not receive ALT or F10 key notifications should set this property to <ph id="ph3">`false`</ph>.</source>
          <target state="translated">S’il existe plusieurs <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> contrôles sur une page, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> les contrôles qui ne doivent pas recevoir de notification des touches ALT ou F10 doivent définir cette propriété <ph id="ph3">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Dependency Property Information</source>
          <target state="translated">Informations sur les propriétés de dépendance</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Identifier field</source>
          <target state="translated">Champ d’identificateur</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Metadata properties set to <ph id="ph1">`true`</ph></source>
          <target state="translated">La valeur des propriétés de métadonnées <ph id="ph1">`true`</ph></target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>None</source>
          <target state="translated">Aucun.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The following example shows how to use the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> property to create a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> that does not receive activation notification.</source>
          <target state="translated">L’exemple suivant montre comment utiliser le <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> propriété pour créer un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> qui ne reçoit pas de notification d’activation.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="F:System.Windows.Controls.Menu.IsMainMenuProperty">
          <source>Identifies the <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph> dependency property.</source>
          <target state="translated">Identifie la propriété de dépendance <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>Provides an appropriate <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> implementation for this control, as part of the <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph> automation infrastructure.</source>
          <target state="translated">Fournit une implémentation de <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> appropriée pour ce contrôle, au sein de l'infrastructure d'automation <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph>.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>The type-specific <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> implementation.</source>
          <target state="translated">Implémentation de <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> spécifique au type.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>An <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> qui contient les données d'événement.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>Called when the <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> property is set to <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">Appelée lorsque la propriété <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> a la valeur <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> qui contient les données d'événement.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>Responds to the <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph> event.</source>
          <target state="translated">Répond à l'événement <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>The event data.</source>
          <target state="translated">Données d'événement.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Handles the <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> routed event that occurs when the menu receives text input from any device.</source>
          <target state="translated">Gère l'événement routé <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> qui se produit lorsque le menu reçoit une entrée de texte en provenance de n'importe quel périphérique.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>This implementation does not change the handled state (the <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> property) of the <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> event data.</source>
          <target state="translated">Cette implémentation ne modifie pas l’état géré (le <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> propriété) de la <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> les données d’événement.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>If you override <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, always call the base implementation in your <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementation.</source>
          <target state="translated">Si vous substituez <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, appelez toujours l’implémentation de base votre <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implémentation.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Failure to call the base implementation prevents base classes from handling the event with a class handler, which might change the run-time behavior of the final class.</source>
          <target state="translated">Faute d’appeler l’implémentation de base empêche les classes de base à partir de la gestion de l’événement avec un gestionnaire de classe, ce qui peut modifier le comportement d’exécution de la classe finale.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>You can call the base implementation either before or after your special handling, depending on your requirements.</source>
          <target state="translated">Vous pouvez appeler l’implémentation de base avant ou après le traitement spécial, selon vos besoins.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The element used to display the specified item.</source>
          <target state="translated">Élément (element) utilisé pour afficher l'élément (item) spécifié.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The item to display.</source>
          <target state="translated">Élément à afficher.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Prepares the specified element to display the specified item.</source>
          <target state="translated">Prépare l’élément spécifié pour afficher l’élément (item) spécifié.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Preparing the element might involve applying styles, setting bindings, and so on.</source>
          <target state="translated">Préparation de l’élément peut impliquer l’application de styles, la définition de liaisons et ainsi de suite.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>